@font-face {
    font-family: "Roboto Condensed";
    src: url("../fonts/RobotoCondensed-Light.ttf");
}
@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/RobotoCondensed-Bold.ttf");
}
.main-content{
    width: 1200px;
}
body{
    margin:0;
}
a{
    text-decoration: none;
}
img{
  display: block;
}