footer{
    .footer-1{
        padding-top:40px;
        padding-bottom:40px;
        background-color: rgb(60,52,49);
        .footer-content-1{
            display: flex;
            justify-content: flex-start;
            width: 1200px;
            margin-left:auto;
            margin-right:auto;
            .logo-footer{
                margin-right:20px;
                margin-left: 20px;
            }
            .footer-contact{
                .name-company{
                    font-size: 24px;
                    font-family: Roboto;
                    color:white;
                }
                ul{
                    padding:0;
                    list-style: none;
                    li{
                        font-family: Roboto;
                        color: white;
                        font-size: 14px;
                    }
                    li:not(:last-child){
                        margin-bottom: 10px;
                    }
                }
            }
        }

    }
    .footer-2{
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        .item-footer{
           font-size: 11px;
           color:rgb(109,109,109);
           font-family: Arial, Helvetica, sans-serif; 
        }
        .item-footer:not(:first-child){
            margin-left: 30px;
    
        }
    }
}