.header {
  z-index: 99;
  position: relative;
  display: flex;
  justify-content: center;
  height: 113px;
  width: 100%;
  border-bottom: 1px solid rgb(140, 151, 9);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#22a926+0,057408+100 */
  background: rgb(34, 169, 38); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(34, 169, 38, 1) 0%, rgba(5, 116, 8, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(34, 169, 38, 1) 0%, rgba(5, 116, 8, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(34, 169, 38, 1) 0%, rgba(5, 116, 8, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#22a926', endColorstr='#057408', GradientType=0); /* IE6-9 */
  .main-content-header {
    position: relative;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .select-langue {
      position: absolute;
      top: 10px;
      right: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      div {
        padding-right: 10px;
        a {
          font-family: Arial;
          display: flex;
          color: white;
          font-size: 11px;
          img {
            margin-right: 5px;
          }
        }
      }
    }
    .menu-nav-header {
      display: flex;
      justify-content: flex-end;
      position: relative;
      z-index: 10;
      .menu-item {
        position: relative;
        font-size: 13px;
        font-family: Arial;
        padding: 8px 18px;
        color: white;
        .title-item {
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            margin-left: 5px;
          }
        }
        .menu-child {
          z-index: 999;
          position: absolute;
          display: none;

          width: 260px;
          left: -5px;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#21a725+0,077509+100 */
          .menu-drop {
            box-shadow: 0px 2px 17px 1px #191823;
            position: relative;
            margin-top: 18px;

            border-radius: 4px;
            background: rgb(33, 167, 37); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(33, 167, 37, 1) 0%, rgba(7, 117, 9, 1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(33, 167, 37, 1) 0%, rgba(7, 117, 9, 1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(33, 167, 37, 1) 0%, rgba(7, 117, 9, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#21a725', endColorstr='#077509', GradientType=0); /* IE6-9 */
            ul {
              list-style: none;
              padding: 8px 0 6px 0;
              li {
                padding: 10px 18px 12px 18px;
                position: relative;
                display: block;
                a {
                  font-weight: 500;
                  font-size: 13px;
                  font-family: Tahoma;
                }

              }
              li:not(:last-child) {
                margin-bottom: 2px;
              }
              li:not(:last-child)::before {
                position: absolute;
                bottom: -2px;
                right: auto;
                left: auto;
                width: 225px;
                height: 2px;
                background-color: rgb(89, 175, 92);
                content: ' ';
                display: block;
              }
              // li:first-child{
              //     padding-bottom: 12px;
              // }
              // li:last-child{
              //     padding-top:10px;
              // }
              li:hover {
                background-color: rgb(60, 88, 14);
                a {
                  font-weight: bold;
                }
              }
            }
          }
          .menu-drop::before {
            left: 41px;

            width: 0;
            height: 0;
            position: absolute;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid rgb(34, 168, 38);
            top: -10px;
            /* right: 49px; */
            content: ' ';
          }
        }
      }
      .menu-item:hover {
        font-weight: bold;
      }
      .menu-item:hover::before {

        left: 0;
        right: 0;
        bottom: 1px;
        display: block;
        position: absolute;

        height: 2px;
        content: ' ';
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#21a825+0,01b906+46,026c05+100&0+0,1+47,0+100 */
        background: -moz-linear-gradient(left, rgba(33, 168, 37, 0) 0%, rgba(1, 185, 6, 0.98) 46%, rgba(1, 184, 6, 1) 47%, rgba(2, 108, 5, 0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(33, 168, 37, 0) 0%, rgba(1, 185, 6, 0.98) 46%, rgba(1, 184, 6, 1) 47%, rgba(2, 108, 5, 0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(33, 168, 37, 0) 0%, rgba(1, 185, 6, 0.98) 46%, rgba(1, 184, 6, 1) 47%, rgba(2, 108, 5, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0021a825', endColorstr='#00026c05', GradientType=1); /* IE6-9 */

      }
      .menu-item:hover {
        .menu-child {
          display: block;
        }
        border-radius: 5px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#21a825+1,026c05+100 */
        background: #21a825; /* Old browsers */
        background: -moz-linear-gradient(top, #21a825 1%, #026c05 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #21a825 1%, #026c05 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #21a825 1%, #026c05 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#21a825', endColorstr='#026c05', GradientType=0); /* IE6-9 */

      }
    }
  }
  .background-h {
    position: absolute;
    // content: '';
    top: 0;
    left: 0;
    height: 113px;
    background: transparent;
    right: 0;
    // background-image: url(../images/bg_title.png);
    // background-repeat: no-repeat;
    img {
      width: 100%;
      height: 110%;
    }
  }
}
